.botonCantidad{
    border-radius: 25%;
    border: 5px solid rgb(197, 223, 254);
    background-color: rgb(80, 161, 255);
    transition: .5s;

}

.botonCantidad:hover{
    border: 5px solid rgb(231, 241, 253);
    background-color: rgb(180, 215, 255);
    color: rgb(231, 241, 253);
}


.botonCalculo{
    border-radius: 7px;
}