@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');





p{
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 40px;
}

.comboBigcam{
    object-fit:contain;
    max-height: 600px;
}

.imgBigcamello{
    object-fit: fill;
}



